#next{
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #f44336;
    align: center;
    font-size: 35px;
    padding: 12px;
}

button:hover {
opacity: 0.8;
}

body {
	height: 100%;
}

.log{
      margin: auto;
  display: block;
}
body {
	margin: 0;
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	font-family: sans-serif;
	font-weight: 100;
    background-size: 100%;
}

.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
/*    background-image: url("EMT.png");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: 30%;
    */
}

table {
	width: 85%;
    margin-top: 20px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 40px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
    font-size: 40px;
}

th {
	text-align: left;
    font-color
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
		&:hover {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -9999px;
				bottom: -9999px;
				background-color: rgba(255,255,255,0.2);
				z-index: -1;
			}
		}
	}

}
.Titleh1{
    color:white;
    align: center;
    text-align: center;
    padding-top:40px;
    font-size: 50px;
    font-family: 'Signika', sans-serif;
}
.amb{
    width: 20%;
    height: 20%
}
footer{
    position: fixed;
  left: 0;
  bottom: 0;
}
.header img {
  float: left;
  width: 100px;
  height: 100px;
  align: center;
    text-align: center;
    margin-left: 10px;
}

.header h1 {
  position: relative;
  top: 18px;
    padding: 18px 25px;
    margin: 0px 50px;
  color: white;
}
.header{
    align-items: center;
    margin: 10px 30%;
}

.alert{
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

}


/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #FF0000;
  color: white;
}
.modal-header h2{
    color: #ff0000;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}
.modal-body p{
    align: center;
    
}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    border: 2px solid;
    border-radius: 20px 20px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    border: 2px solid blue;
    border-radius: 20px 20px;
    padding-top: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.5s;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin: auto auto;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -3 00px; opacity: 0}
    to {top: 0; opacity: 1}
}
table button{
    color: white;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin: 0 auto;
    background-color: #f44336;
    border: 2px solid blue;
    border-radius: 20px 20px;
    height: 100%;
    }
    footer{
        width:100%;
    }
*{
    cursor: url(https://cur.cursors-4u.net/mechanics/mec-5/mec472.cur), auto !important;
}

